.cards {
        margin: 0 auto;
        float: none;
        margin-bottom: 10px;
}

.dropzone {
        width: 250px;
        height: 250px;
        max-width: 75%;
        max-height: 75%;
        border-width: 2px;
        border-color: #0088ce;
        border-style: dashed;
        border-radius: 5px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
}

.dropzone-image {
        width: 85%;
        height: 85%;
        user-select: none;
}
